@model TravelsViewModel

@{
    ViewData["Title"] = "Index";
}

@if (!@Model.IsAuthenticated)
{
    <h2>You must be logged in to see the content!</h2>
}
else
{
    @Html.Partial("_TravelListPartial", Model)
}



